@{
    Layout = null;
    var chuoi_HTML_loi_chao = string.Empty;
    string ten_nhap = string.Empty;
    if(IsPost)
    {
        ten_nhap = Request.Form["ten"];
        if (string.IsNullOrWhiteSpace(ten_nhap)==false)
        {
            ten_nhap = Request.Form["ten"];
            string hinh_anh = $"<img src='hinh/KH_{XL_KHACH_HANG.random()}.jpg' weight='100' height='100'/>";
            chuoi_HTML_loi_chao = $"Xin chào {ten_nhap} <br> {hinh_anh} <br>  đây là trang web đầu tiên của tôi";
        }
        else
        {
            chuoi_HTML_loi_chao = "xin moi nhap lai";
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="Post">
            <label>nhập  tên khách hàng</label><br />
            <input type="text" name="ten" value="@ten_nhap" /><br />
            <input type="submit" value="OK" />
        </form>
    </div>
    @Html.Raw(chuoi_HTML_loi_chao)
  
</body>
</html>
