@{
    Layout = null;
    string chuoi_HTML_loi_chao = $"<img src='hinh/KH_{XL_nghiep_vu.rand()}.jpg' weight='50' height='50' > <br>" +
                $"Xin chào khách quý";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    @Html.Raw(chuoi_HTML_loi_chao)
    </div>
</body>
</html>
